body {
  background: #e5e9ec;
  color: #6f7b8a;
  font-family: 'Lato';
}
.sidebar {
  background: #1b1e24;
  position: fixed;
  top: 51px;
  left: 0;
  bottom: 0;
  display: block;
  padding-top: 30px;
  color: #6f7b8a;
  font-size: 16px;
}
.sidebar span.glyphicon {
  margin-right: 15px;
}
.sidebar ul.main-menu {
  list-style-type: none;
  padding: 0;
}
.sidebar ul.main-menu li {
  padding: 10px 0;
  color: #6f7b8a;
}
.sidebar ul.main-menu li:hover {
  color: white;
}
.box-title {
  width: 100%;
  background: red;
}
.box-title .close-view {
  text-align: right;
  opacity: .7;
  font-size: 14px;
  line-height: 2.1;
}
.box-title .close-view:hover {
  opacity: 1;
}
.box-title h3 {
  margin: 0;
  padding: 14px;
  color: white;
}
.blue {
  background: #0090d9;
}
.green {
  background: #0aa699;
}
.red {
  background: #f35958;
}
.yellow {
  background: #f7ba54;
}
.violet {
  background: #735f87;
}
.gray {
  background: #bcbcbc;
}
.dark-gray {
  background: #22262e;
}
.jumbotron {
  background: white;
}
.google-charts {
  padding: 20px;
}
.white-box {
  background: white;
}
.container-fluid {
  margin-bottom: 20px;
}
.ngTopPanel,
.ngGroupPanel,
.ngFooterPanel {
  background: none;
}
