
body {
    background: white;
    color:#6f7b8a;
    font-family: 'Lato';
}

/****** UTILITY *******/

/* -------------- LOADING FONTS -------------- */

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}


/* -------------- LOADING Clock -------------- */

.clock{
    border-radius: 60px;
    border: 3px solid #fff;
    height: 80px;
    width: 80px;
    position: relative;
    margin: 10px auto;
    -webkit-transform:scale(1,1);
}

.clock:after{
    content: "";
    position: absolute;
    background-color: #fff;
    top:2px;
    left: 48%;
    height: 38px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
            transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 2s linear infinite;
            animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
    content: "";
    position: absolute;
    background-color: #fff;
    top:6px;
    left: 48%;
    height: 35px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 94%;
            transform-origin: 50% 94%;
    -webkit-animation: ptAiguille 12s linear infinite;
            animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* -------------- LOADING Clock -------------- */




.animate{
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.shadow{

}
.loading-widget{
    position: fixed;
    top:0; left:0; right:0; bottom:0;
    background: rgba(0,0,0,.7);
    z-index: 9999999999;
    text-align: center;
    color: white;
    padding-top:20%;
    
    .loading{
        font-size: 40px;
    }
}

/****** NAVBAR *******/
.navbar-inverse{
    .navbar-nav>li>a{
        font-size: 15px;
        font-weight: 300;
    }
    .navbar-nav>li{
        margin-left: -25px;
    }
    
    .navbar-nav>li>a:hover,.navbar-nav>li>a.active{
        color:#22262e;
        .animate;
    }
    .navbar-nav .right{
        position:absolute;
        right: 15px;
    }
    .logo,.setting-menu{
        position:fixed;
        top:0;
        height: 51px;
    }
    .logo{
        background:#22262e url(../img/logo.png) no-repeat center;
    }
    .setting-menu{
        background: white;
    }
}
.page-draggable{
    padding: 20px;
    font-size: 11px;
    text-align: center;
    opacity: .3;
}
.page-draggable.true{
    opacity: 1;
}
.page-draggable.false{
    opacity: .3;
}
.page-draggable.false:hover{
    opacity: .5;
    .animate;
}


/****** SIDEBAR *******/
/*.sidebar::-webkit-scrollbar { width: 0 !important }*/
.sidebar {
    /*
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    */
    background:#1b1e24;
    position:fixed;
    top:51px;
    left:0;
    bottom:0;
    display:block;
    padding:0;
    color:#6f7b8a;
    font-size: 14px;
    span.glyphicon {
        margin-right: 15px;
    }

    .main-menu-container{

        .ul-title{
            background: #22262e;
            width: 100%;
            padding: 15px;
            font-size: 14px;
            font-weight: 700;
        }
        ul.main-menu {
            list-style-type: none;
            padding: 0 15px;
            li {
                padding: 4px 0;
                color:#6f7b8a;
                font-size: 15px;
                font-weight: 300;
                .glyphicon{
                    font-size: 10px;
                    margin-bottom: 10px;
                }
            }
            li:hover {
                color:white;
                .animate;
            }
        }
    }
    
}


/****** BOXES *******/
.box-title {
    width: 100%;
    background:red;
    .close-view {
        text-align: right;
        opacity: .7;
        font-size: 14px;
        line-height: 2.1;
    }
    .close-view:hover {
        opacity: 1;
        .animate;
    }
    h3 {
        margin:0;
        padding:14px;
        color:white;
        font-weight: 300;
        .detail{
            font-size:14px;
        }
    }
}

.jumbotron {
    background:white;
}
.google-charts {
    /*padding: 20px;*/
}

.container-fluid {
    margin-bottom:20px;
}

.blue {
    background:#0090d9;
}
.green {
    background:#0aa699;
}
.red {
    background:#f35958;
}
.yellow {
    background:#f7ba54;
}
.violet {
    background:#735f87;
}
.gray {
    background:#bcbcbc;
}
.dark-gray {
    background:#22262e;
}


.color-blue {
    color:#0090d9;
}
.color-green {
    color:#0aa699;
}
.color-red {
    color:#f35958;
}
.color-yellow {
    color:#f7ba54;
}
.color-violet {
    color:#735f87;
}
.color-gray {
    color:#bcbcbc;
}
.color-dark-gray {
    color:#22262e;
}

.white-box {
    background:white;
}

/****** VIEWS *******/
.view{
    .google-charts{
        height: 500px;
    }
}
.drop{
    min-height: 100px;
    padding:0 0 500px 0;
    .drag-placeholder{
        background: rgba(0,0,0,.1);
        height: 400px;
        text-align: center;
        span{
            position: relative;
            top:170px;
            font-size: 40px;
            color:#e5e9ec;
            font-weight: 300;
        }
    }
}
.drop.drop-here{
    border:1px dashed gray;
    padding: 10px 10px 500px 10px;
    .animate;
}




/********* TAG CLOUD ********/
.tag-cloud-container{
    padding:40px;
    
    h4{
        border-bottom: 1px solid gray;
        padding-bottom: 14px;
        text-transform: uppercase;
        font-weight: 300;
    }

    
}



/****** FIXES *******/
.ngTopPanel,.ngGroupPanel,.ngFooterPanel {
    background:none;
}