<head>
<title>HTML Reference</title>
</head>

<style type="text/css">



    
    ul {list-style-type: none; padding-left:0;}
    
    body { color:#464648; }
    h2   { color:#535255; font-size:16pt; font-weight:normal; line-height:1.2em; border-bottom:1px solid black;  }
    /*h3   { color:#9A9A9A; font-size:13pt; font-weight:normal; margin-bottom: 0em}*/

    
	  #invoice 					{padding:30px;}
    table th.right,
    table td.right              { text-align:right; }

    .customer-data              { padding:1em 0; }
    .customer-data table        { width:100%;       }
    .customer-data table td     { width:50%;        }
    .customer-data td span      { display:block; margin:0 0 5pt; padding-bottom:2pt; border-bottom:1px solid #DCDCDC; }
    .customer-data td span.left { margin-right:1em; }
    .customer-data label        { display:block; font-weight:bold; font-size:8pt; }
    .payment-data               { padding:1em 0;    }
    .payment-data table         { width:100%;       }
    .payment-data th,
    .payment-data td            { line-height:1em; padding:5pt 8pt 5pt; border:1px solid #DCDCDC; }
    .payment-data thead th      { background:#FAFAFA; }
    .payment-data th            { font-weight:bold; white-space:nowrap; }
    .payment-data .bottomleft   { border-color:white; border-top:inherit; border-right:inherit; }
    .payment-data span.tax      { display:block; white-space:nowrap; }
    .terms, .notes              { padding:3pt 0 0; font-size:9pt; line-height:9pt; }

    .section                    { margin-bottom: 1em; }
    .logo                       { text-align: left; }
    .logo img                   { margin-bottom: 20px }
    .company-data               { text-align: left; }

    .gray                       {background:#FAFAFA}


    @page {
      size: A4;
      margin: 0;
    }
    @media print {
      html, body {
        width: 210mm;
        height: 297mm;
      }
      #invoice  {padding:30px;}
      button    {display: none !important}
      .logo img     {width:45mm;}
      h2        {font-size:14pt}
      /* ... the rest of the rules ... */
    }
    /* Custom CSS code */



 </style>





<button ng-click="goBack()" ng-hide="editing" class="btn btn-danger">BACK</button>

<button ng-click="editInvoice()" ng-hide="editing" class="right btn btn-success">EDIT</button>

<button ng-click="printInvoice()" ng-hide="editing" class="btn btn-info">PRINT</button>



<div id="invoice">
  
	<div class="logo" style="float:left">
  		<img src="../img/logo_cm.png" />
      <div class="company-data" >
        <ul>
          <li>{{personalInfo.name}}</li>
          <li>{{personalInfo.address}}</li>
          <li>{{personalInfo.tel}} - {{personalInfo.mail}}</li>
          <li>P.IVA: {{personalInfo.piva}} - C.F. {{personalInfo.cf}}</li>
        </ul>
      </div>
      
	</div>
  <div style="clear:both"></div>

  <div class="section">
    
  </div>
  
  
    
	<div class="h2">
  	<h2>
      Fattura # {{invoice.number}}/a/
      <span ng-hide="editing">{{invoice.month}}</span>
      <input type="text" ng-show="editing" ng-model="invoice.month"/>
      <span style="float:right">
        <span ng-hide="editing">{{invoice.date}}</span>
        <input type="text" ng-show="editing" ng-model="invoice.date"/>
      </span>
    </h2>

	</div>



	

  <div class="section">
    <h3>Cliente</h3>

    <div class="customer-data">
      <table cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td>
            <span class="left">
              <label>Denominazione:</label>
              {{editing === false ? invoice.customer.name:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.name"/>
            </span>
          </td>
          <td>
            <span class="right">
              <label>Indirizzo:</label>
              {{editing === false ? invoice.customer.address:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.address"/>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left">
              <label>Riferimento:</label>
              {{editing === false ? invoice.customer.contactPerson:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.contactPerson"/>
            </span>
          </td>
          <td>
            <span class="right">
              <label>P. Iva:</label>
              {{editing === false ? invoice.customer.piva:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.piva"/>
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <span class="left">
              <label>Codice Fiscale:</label>
              {{editing === false ? invoice.customer.cf:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.cf"/>
            </span>
          </td>
          <td>
            <span class="right">
              <label>Note:</label>
              {{editing === false ? invoice.customer.note:''}}
              <input type="text" ng-show="editing" ng-model="invoice.customer.note"/>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="section">
    <div class="payment-data">
      <table>
        <thead>
          <tr>
            <th ng-show="editing">Azioni</th>
            <th>Descrizione</th>
            <th class="right">Costo unitario</th>
            <th class="right">Quantità</th>
            <th class="right">Note</th>
            <th class="right">Prezzo</th>
          </tr>
        </thead>
        <button ng-show="editing" ng-click="addItem()">add new item</button>
        <tbody>
            <tr ng-repeat="item in invoice.items">
              <td ng-show="editing">
                <button ng-click="deleteItem(item)">delete</button>
              </td>
              <td>
                <span ng-hide="editing">{{item.description}}</span>
                <input type="text" ng-show="editing" ng-model="item.description"/>
              </td>
              <td class="right">
                <span ng-hide="editing">{{item.unit_cost}} {{settings.currency}}</span>
                <input type="text" ng-show="editing" ng-model="item.unit_cost"/>
              </td>
              <td class="right">
                <span ng-hide="editing">{{item.qty}}</span>
                <input type="text" ng-show="editing" ng-model="item.qty"/>
              </td>
              <td class="right">
                  <span ng-hide="editing">{{item.note}}</span>
                  <input type="text" ng-show="editing" ng-model="item.note"/>
              </td>
              
              <td class="right">{{item.unit_cost*item.qty}} {{settings.currency}}</td>
            </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">Imponibile prestazioni</th>
            <td class="right">{{invoice_sub_total()}} {{settings.currency}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">Rivalsa INPS 4%</th>
            <td class="td_global_discount right">{{inps()}} {{settings.currency}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">Totale imponibile</th>
            <td class="td_subtotal right">{{imponibile()}} {{settings.currency}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">IVA 22%</th>
            <td class="td_total_taxes right">{{iva()}} {{settings.currency}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">Totale fattura</th>
            <td class="td_total right">{{total()}} {{settings.currency}}</td>
          </tr>
          <tr>
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right">Ritenuta d'acconto</th>
            <td class="td_total right">(-) {{ritenuta()}} {{settings.currency}}</td>
          </tr>
          <tr class="strong">
            <td class="bottomleft" colspan="{{(editing)?'4':'3'}}"></td>
            <th class="right" style="border:none"></th>
            <td class="td_total right" style="border:none"></td>
          </tr>
          <tr class="strong">
            <th class="bottomleft" colspan="{{(editing)?'4':'3'}}"></th>
            <th class="right gray">NETTO DA VERSARE</th>
            <th class="td_total right gray">{{net()}} {{settings.currency}}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
  <div class="section">
    <h3>Note</h3>
    <div class="terms">
      La ritenuta d'acconto dovrà essere versata nei termini e con le modalità di legge. <br>
      Al professionista dovrà poi essere trasmessa l'attestazione del versamento.
    </div>
  </div>

  <div class="section">
    <h3>Termini e mobalità di pagamento</h3>
    <div class="terms">
      Bonifico bancario intestato a <b>Cesare Malescia</b><br>
      IBAN: <b>IT17B0316901600CC0010891301</b><br>
      Conto n°: <b>0891301</b>
      ABI: <b>03169</b> CAB: <b>01600</b>
      BIC: <b>INGDITM1</b>
    </div>
  </div>

</div>



<button ng-click="updateInvoice()" ng-show="editing" class="btn btn-danger">SAVE</button>
